@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis";
  src: url("@/fonts/metropolis/webfonts/Metropolis-Light.eot");
}

@font-face {
  font-family: "dancingScript";
  src: url("@/fonts/dancingScript/static/DancingScript-Bold.ttf");
}
