<div
  id="intro title"
  class="h-screen w-screen bg-middle-red flex px-10 py-10 text-isabelline title"
>
  <h1 class="flex items-center justify-center text-7xl ml-6 grid-in-header">
    ESTAMOS EN TODO EL PAÍS
  </h1>
  <p
    id="paragraph"
    class="flex items-center justify-center mr-20 ml-20 text-2xl font-metropolis grid-in-main paragraph"
  >
    Somos líderes en diseño y construcción de mobiliario para tu negocio -ya sea
    farmacia, consultorio, dietética, veterinaria, pet-shop, laboratorio. Su
    satisfación es lo más importante. Atención personalizada, trabajamos las 24
    hs, los 365 días para Usted.
  </p>
  <div
    id="icons"
    class="icons text-isabelline flex flex-rows space-x-3 grid-in-footer"
  >
    <i class="fas fa-paw"></i>
    <p>Pet Shops</p>
    <i class="fas fa-clinic-medical"></i>
    <p>Farmacias</p>
    <i class="fas fa-user-md"></i>
    <p>Consultorios médicos y laboratorios</p>
    <i class="fas fa-stethoscope"></i>
  </div>
</div>
